/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("/background.png"); /* CHANGE THIS TO BACKGROUND LOGO PNG - THIS IS A SEMI-TRANSPARENT DOUBLE RENDERING OF THE LOGO ICON */
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 100px;
  width: 100px;
  padding-bottom: 30px;
}

.memberImage {
  height: 250px;
  width: 250px;
}


.projectImage {
  height: 250px;
  width: 150px;
}

.row--center h2{
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}


.hero.hero--primary {
  background-color: #B42F3D;
  background-image: url('/img/odp-background1-red.png'); /* CHANGE THIS TO BACKGROUND LOGO PNG - THIS IS A SEMI-TRANSPARENT DOUBLE RENDERING OF THE LOGO ICON */
  background-repeat: no-repeat;
  background-size: cover;

}

.members {
  

  padding: 74px 0;
  background-color: #cacccc;
  background-image: url('/img/odp-background2-gray.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.projects {
  

  padding: 74px 0;
  background-color: #ffffff;

}
