/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */ 

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b42f3d;
  --ifm-color-primary-dark: #0079ac;
  --ifm-color-primary-darker: #0072a2;
  --ifm-color-primary-darkest: #005e86;
  --ifm-color-primary-light: #0093d2;
  --ifm-color-primary-lighter: #009adc;
  --ifm-color-primary-lightest: #00aef8;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: #0033A0;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}


.hero.hero--primary {
  background-color: #B42F3D;
  background-image: url('/img/odp-background1-red.png'); /* CHANGE THIS TO BACKGROUND LOGO PNG - THIS IS A SEMI-TRANSPARENT DOUBLE RENDERING OF THE LOGO ICON */
  background-repeat: no-repeat;
  background-size: cover;

}

.button.button--secondary {
  color: white;
}

.button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: white;
}




.row--center h2{
  color: #b42f3d;
  font-size: 30px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
